@import '../../../_colors';

.mainPageImage {
  display: flex;
  position: relative;
}

.mainPageImageText {
  position: absolute;
  top: 10%;
  left: 15%;

  width: 30%;

  font-size: 100px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: white;
}

.mainPageImageButton {
  position: absolute;
  top: 53%;
  left: 15%;

  font-size: 40px;
  font-weight: bold;
  color: white;

  background-color: transparent;
  outline: none;
  border: 5px solid white;

  padding: 1rem 2rem;

  &:hover {
    cursor: pointer;
  }
}

.image {
  width: 100%;
}

.mainPhoto {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: $background-color;

  img {
    max-height: 100%;
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .mainPhoto {
    height: auto;
    max-height: calc(100vh - 50px);
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
