.navItem {
  color: white;
  cursor: pointer;
}

.navItemButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

@media (max-width: 550px) {
  .navItem {
    padding: 0.5rem;
  }
}
