.navItem {
  //color: white;
  cursor: pointer;
  font-size: 20px;
}

.navItemButton {
  background-color: transparent;
  //color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;

  font-size: 16px;

  a {
    font-size: 20px;
  }
}

.navItemButton.disabled {
  color: gray;
}

@media (max-width: 550px) {
  .navItem {
    padding: 0.5rem;
  }
}
