.hamburgerButton {
  width: 30px;
  height: 21px;
  margin-left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;

  .bar {
    height: 2px;
    width: 100%;
    border: black solid 2px;
    background-color: black;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  .hamburgerButton {
    display: flex;
    visibility: visible;
  }

  .hamburgerButton.hidden {
    visibility: hidden;
  }
}

@media (max-width: 400px) {
  .hamburgerButton {
    width: 21px;
    height: 21px;
    margin-left: 0.3rem;
  }
}
