@import '../../colors.scss';

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.newsletterForm {
  display: flex;
  flex-direction: row;

  margin-top: 0.5rem;
}

.newsletterInput {
  height: 3rem;
  width: 300px;

  padding: 0.5rem;

  outline: none;
  border: none;

  background-color: white;

  color: black;
  font-size: 1rem;

  border: 1px solid #352b2b;

  &:focus {
    border: 2px solid $button-hover-color;
  }
}

.newsletterButton {
  height: 3rem;
  width: 100px;

  background-color: $secondary-color;

  color: black;
  font-size: 1rem;

  border: 1px solid #352b2b;

  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}

@media (max-width: 550px) {
  .newsletterInput {
    width: 250px;
  }
}
