.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

#secondNavbar {
  padding: 0 10%;
  background-color: #333;
  color: white;
  height: 50px;

  #thirdList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;

    #thirdNavbaritem {
      font-size: 3rem;
      border-right: 1px solid white;
    }

    #thirdNavbaritem:hover {
      background-color: #555;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-right: #555 solid 1px;
      // padding: 1rem;
    }

    li:first-child {
      border-left: #555 solid 1px;
    }

    li:hover {
      background-color: #555;
    }

    // a {
    //   height: 100%;
    //   width: 100%;
    // }
  }
}
