@import '../.././_colors';

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.secondNavbar {
  padding: 0 10%;
  background-color: $primary-color;
  color: white;
  height: 50px;

  .thirdList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;

    .navItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-right: $primary-color - #111 solid 1px;

      &:first-child {
        border-left: $primary-color - #111 solid 1px;
      }

      &:hover {
        background-color: $primary-color + #111;
      }
    }
  }
}

.navbarLink {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

@media (max-width: 550px) {
  .secondNavbar {
    padding: 0;
  }
}
