@import "../../_colors";

footer {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 2rem 3rem 1rem 3rem;

  b {
    margin-bottom: 2rem;
  }
}

.footerCollumns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 3rem;

  margin-bottom: 3rem;
}

.footerCollumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: 10%;

  label {
    margin-top: 0.3rem;

    &:hover {
      cursor: pointer;
      color: $primary-color + #333;
    }
  }
}

.socialMedias {
  margin-bottom: 2rem;

  h3 {
    margin-bottom: 0.5rem;
  }

  i {
    font-size: 1.5rem;

    &:hover {
      color: $primary-color + #333;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  footer b {
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .footerCollumns {
    gap: 1.5rem;
  }
}
