#search {
  width: 100%;
  height: 100px;
  background-color: #333;
  border-top: #555 solid 1px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#searchInput {
  width: 60%;
  height: 2rem;
  padding-left: 0.5rem;
}

#search.active {
  display: flex;
  animation: dropSearch 1s ease-in forwards;
}

@keyframes dropSearch {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
