@import '../../colors';

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 80%;

  background-color: transparent;

  margin-top: 3rem;
  padding: 0rem 2rem;
}

@media (max-width: 600px) {
  .login {
    padding: 0.5rem;
  }
}
