$primary-color: #f1ecea;
$secondary-color: #c5b2aa;
//#b69b90
// $background-color: #f8f4f1;
$background-color: #ffffff;

$blue-button-color: #f3f0ec;
$success-color: #f1ecea;
$information-color: #c5b2aa;
$danger-color: #dc3545;
$warning-color: #ffc107;
$disable-color: #6c757d;
