$primary-color: #22223b;
$secondary-color: #888caa;
// $background-color: #f8f4f1;
$background-color: white;

$blue-button-color: #007bff;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$information-color: #17a2b8;
$disable-color: #6c757d;
