@import "./_colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-color: $background-color;
}

.emptyScreen {
  height: calc(100vh - 50px - 80px); //50px - navbar, 80px - header
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
