* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#test {
  height: auto;
  // width: 1280px;
  max-width: 1280px;
  margin: auto;

  img {
    height: 100%;
    width: 100%;
  }
}

#flexPhotos {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  img {
    min-width: 500px;
  }
}
